.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bolder;
  text-shadow: 0px 1px rgba(0,0,0,0.2);
}

.banner p {
  font-size: 36px;
  margin-left: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: normal;
}
